releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
    
    <xsd:element name="releve">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dateReleve" type="xsd:date"></xsd:element>
                <xsd:element name="solde" type="xsd:double"></xsd:element>
                <xsd:element name="operations" type="operations_type"></xsd:element>
            </xsd:sequence>
            <xsd:attribute name="RIB" type="xsd:string" use="required"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="operations_type">
        <xsd:sequence>
            <xsd:element name="operation" type="operation_type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="dateDebut" type="xsd:date" use="required"></xsd:attribute>
        <xsd:attribute name="dateFin" type="xsd:date" use="required"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="operation_type">
        
        <xsd:attribute name="type" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CREDIT"/>
                    <xsd:enumeration value="DEBIT"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        
        <xsd:attribute name="date" type="xsd:date" use="required"></xsd:attribute>
        <xsd:attribute name="montant" type="xsd:double" use="required"></xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>
